/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  margin: 0px;
}
:root {
	--devider: #ececec;
	--modal-overlay: #202122;
	--backdrop: rgba(0, 0, 0, 0.3);
	--text---link: #fe5b00;
	--text---base: #151716;
	--text---secondary: #7b7b7b;
	--background---orange: #ff7028;
	--background---hover: #e5550b;
	--background---page-bg: #f2f2f2;
}
:root {
  --font-family: "PT Sans", sans-serif;
  --second-family: "Orenburg", sans-serif;
  --third-family: "SF Pro Text", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "SF Pro Display", sans-serif;
  --font5: "Nunito", sans-serif;
}
.wrapperDesctop {
  padding: 30px 40px;
  margin: 0px auto;
  max-width: 1440px;
}
.headerBackground {
  background-image: url(./img/bg.jpg);
}
.headerBackground_slider {
  background-image: url(./img/bg_slider.jpg);
}
.search {
  margin-left: 32px;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  border: 1px solid #494949;
  border-radius: 2px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #939393;
}
.mask {
  display: flex;
  align-items: center;
}
.white {
  color: white;
}
.slider {
  color: #bebebe;
  margin-bottom: 110px;
  margin-top: 54px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.line {
  margin: 24px 0px;
  width: 375px;
  height: 1px;
  border: 0px;

  color: linear-gradient(90deg, #4b4b4b 0%, #262625 100%);
  background: linear-gradient(90deg, #4b4b4b 0%, #262625 100%);
}
footer {
  background: var(--modal-overlay);
}
.footer-Btn {
  width: 100%;
  height: 100px;
  border: 0px;
  background: rgba(0, 0, 0, 0);
  border-top: 1px solid#2c2d2e;;
}
.footer-nav {
  padding: 60px 0px 24px;
  color: #bebebe;
}
.footer-top {
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.footerImg {
  margin-right: 8px;
}
.Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.float {
  margin-top: 10px;
}
.info {
  flex-direction: row;
  flex-wrap: nowrap;
  background: #f6f6f6;
  padding: 50px 0px;
}
.Heading {
  display: flex;
  align-items: start;
}
.text {
  font-weight: 400;
  color: var(--text---base);
  line-height: 1.77778;

  font-weight: 700;
  font-size: 18px;
}
.Orange {
  color: var(--text---link);
}
.right {
  display: flex;

  width: 50%;
  flex-direction: column;
  max-width: 400px;
}
.info_left {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--text---base);
}
.info_logo {
  margin-right: 28px;
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
}
.Info_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;

  line-height: 1.33333;
  color: var(--text---secondary);
}